<div>
    <h2>Main</h2>
  <a href="/index">
    <p>Home</p>
  </a>
  <a href="/favoriteAircraftPage">
    <p>My Aircraft</p>
  </a>
</div>

<div>
  <h2>Search Aircraft By</h2>
  <a href="/regNumSearchPage">
    <p>Registration Num</p>
  </a>
  <a href="/squawkSearchPage">
    <p>Squawk ID</p>
  </a>
  <a href="/LocationSearchPage">
    <p>Proximity</p>
  </a>
</div>

<div>
  <h2>Learn More About</h2>
  <a href="/aboutTransponderPage">
    <p>Aviation Transponders</p>
  </a>
  <a href="/aboutDevs">
    <p>Dev Team</p>
  </a>
</div>