<a href="/index">Home</a> 
<a href="/fav">My Favorite Aircraft</a>
<a href="/regNumSearchPage">Search by Reg Num</a>
<a href="/squawkSearchPage">Search by Squawk</a>
<a href="/LocationSearchPage">Search by Proximity</a>

<a href="/js/">About ADSB and ATC Transponders</a> 
<a href="/jquery/">About Devs</a>