<div>
  <h2>Main</h2>
  <p>
    <a href="../">Home</a>
  </p>
  <p>
    <a href="/favoriteAircraftPage">My Aircraft</a>
  </p>
</div>

<div>
  <h2>Search Aircraft By</h2>
  <p>
    <a href="/regNumSearchPage">Registration Num</a>
  </p>
  <p>
    <a href="/squawkSearchPage">Squawk ID</a>
  </p>
  <p>
    <a href="/LocationSearchPage">Proximity</a>
  </p>
</div>

<div>
  <h2>Learn More About</h2>
  <p>
    <a href="/aboutTransponderPage">Transponders</a>
  </p>
  <p>
    <a href="/aboutDevs">Dev Team</a>
  </p>
</div>