<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="formBox">
            <h2 id="boxTitle">Enter your query below.</h2>
            <form action="/"  method="POST">
              <input class="inputQueryHere" type="text" name="query" placeholder="location">
                <label for="title">location</label>
              <button type="submit" id="button">Search</button>
            </form>
          </section>
    </main>
</body>
</html>