<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plane Scanner Home</title>

  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
 
<body>

  <header>
    <%- include ('../partials/header') %>
  </header>

  <nav>
    <%- include ('../partials/nav') %>
  </nav>

  <main>
    <h2>About Transponders - The BackBone of Modern Aviation</h2>
    <img class="aboutTPImages" src="images/aboutXPNDRPage/TPoverview.png">
    <p>Aircraft are equipped with electrical systems that can transmit live data to and from other aircraft.  Such data contains:</p>
    <ul>
      <li>Registration Number</li>
      <li>Aircraft Type</li>
      <li>Altitude</li>
      <li>Latitude and Longitude</li>
      <li>Airspeed</li>
      <li>And Many more identifiers...</li>
    </ul>
    <img class="aboutTPImages" src="images/aboutXPNDRPage/controlPanelTP.png">
  </main>

  <footer>
    <%- include ('../partials/footer') %>
  </footer>

</body>


</html>