<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plane Scanner Home</title>


  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="../../public/styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
 
<body>

  <header>
    <%- include ('../partials/header') %>
  </header>

  <nav>
    <%- include ('../partials/nav') %>
  </nav>

  <main id="devPage">
   <ul>
     <li class="devList">
       <h2>Micah Thor</h2>
       <img src="./images/micah.jpg" class="devPics">
       <p>"I'm not telling you what to do, just what I want"</p>
     </li>
     
     <li class="devList">
       <h2>Silas Oyewale</h2>
      <img src="./images/silas.jpg" class="devPics">
      <p>"Now we cooking"</p>
    </li>
    <br>
    <li class="devList" id="travis">
      <h2>Travis Coots</h2>
      <img src="./images/travis.jpg" class="devPics">
      <p>"GUYS!!! TAY TAY IS IN THE AIR!!!"</p>
    </li>
    
    <li class="devList">
      <h2>Hollie Thomas</h2>
      <img src="./images/hollie.jpg" class="devPics">
      <p>"Did you trello that?"</p>
    </li>
   </ul>
  </main>

  <footer>
    <%- include ('../partials/footer') %>
  </footer>

</body>


</html>