<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search by Distance</title>

  
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="../../public/styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
</head>

<body>

  <header>
    <%- include ('../partials/header') %>
  </header>

  <nav>
    <%- include ('../partials/nav') %>
  </nav>

  <main>
    <form action="/results" method="GET" id="proximitySearch">
    <fieldset>

      <legend>See what is near me</legend>
      <select name="radius">
        <option value="10"> within 10 Miles of</option>
        <option value="25">within 25 Miles of</option>
        <option value="100">within 100 Miles of</option>
        <option value="250">within 250 Miles of</option>
      </select>
      <input type="text" name="proximity" placeholder="Enter a location">
      <input type="hidden" name="searchType" value="proximityUrl">
      <br>
      <button class="button">Submit</button>
    </fieldset>
    </form>
  </main>
   <footer>
    <%- include ('../partials/footer') %>
  </footer> 

</body>


</html>