<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search By Registration Number</title>

  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="../../public/styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
</head>

<body>

  <header>
    <%- include ('../partials/header') %>
  </header>

  <nav>
    <%- include ('../partials/nav') %> 
  </nav>

  <main id="regNumber">
    <h1>Registration Number Search</h1>
    <br>
    <div>
      <h2>Information About Registration Numbers</h2>
      <br>
      <p>
        What are tail numbers?
        <br>
        Just like a car, planes are required to have registration numbers so they can be identified. Aircraft registration numbers are made up of a one- or two-letter country code – the United Kingdom’s is “G”, for example, while Ireland’s is “EI" – followed by a unique series of up to five letters and numbers. These are typically displayed on the tail of the aircraft and referred to as tail numbers. When it comes to private jet registration, though, things tend to get more interesting.
        Since the USA makes its aircraft registry information public, it’s easy to look up the tail number of a US-registered jet and find out who it belongs to. For privacy purposes, some high-profile clients therefore choose to register their jets in offshore locations like Aruba or the Cayman Islands. Others like to show off their private aircraft by buying a ‘vanity tail number’ which has a special meaning.</p>
    </div>
    <br>
    <br>
    <form action="./results" method="GET">
      <fieldset>
        <legend>Search by Registration Number</legend>
        <br>
        <input type="text" size="8" maxlength="6" name="registration" required autofocus>
        <input type="hidden" name="searchType" value="registrationURL">
        <br>
        <br>
        <button class="button">Submit</button>
      </fieldset>
    </form>
    <h2 id="suggest">Checkout out these cool planes!</h2>
    <br>
    <ol id="coolPlanes">
      <li class="planeList">
        <h3>Bill Gates</h3>
        <p>N887WM</p>  
      </li>
      <li class="planeList">
        <h3>Taylor Swift</h3>
        <p>N898TS</p>  
      </li>
      <li class="planeList">
        <h3>Jim Carrey</h3>
        <p>N162JC</p>  
      </li>
      <li class="planeList">
        <h3>John Travolta </h3>
        <p>N707JT</p>  
      </li>
      <li class="planeList">
        <h3>R2-D2</h3>
        <p>JA873A</p>  
      </li">
      <li class="planeList">
        <h3>BB-8</h3>
        <p>JA789A</p>  
      </li>
      <li class="planeList">
        <h3>C-3PO</h3>
        <p>JA743A</p>  
      </li>
      <li class="planeList">
        <h3>Iron Maiden</h3>
        <p>CC666</p>  
      
      
    </ol>
  </main>

  <footer>
    <%- include ('../partials/footer') %>
  </footer>

</body>


</html>