<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plane Scanner Home</title>

 
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="../../public/styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <%- include ('../partials/header') %> 
  </header>

  <nav>
    <%- include ('../partials/nav') %>
  </nav>

  <main>
    <div id="resultPageAircraftData">
    <%- include ('../partials/aircraftData') %>
    </div>
  </main>

  <footer>
    <%- include ('../partials/footer') %>
  </footer>

</body>


</html>