body {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

header {

}

nav {

}

main {
  
}

/* On Desktop */
@media( min-width: 960px ) {

  body {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  header {

  }

  nav {

  }

  main {

  }

}