/* MOBILE VIEW */ 
body {
  display: flex;
  flex-wrap: wrap;
  margin: 5px
}

header, nav, main, footer {
  margin: 5px;
}

header {
  width: 100%;
  height: 20vh;
}

nav {
  width: 100%;
  height: 32vh;
}


main {
  width: 100%;
  height: 150vh;

}

footer {
  width: 100%;
  height: 27vh;
}


/* RESULTS PAGE - MOBILE */
#resultPageAircraftData {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
  overflow: scroll;
  height: 95%;
  margin: 5px;
  padding: 5px;
}

.aircraftDataTiles {
  border: 1px solid black;
  text-align: center;
  font-family: 'Lalezar', cursive;
  margin: 8%;
  padding: 10px;
}

.aircraftDataTiles p {
  font-size: 30px;
}

.aircraftTileLabel {
  text-decoration: underline;
  font-size: 18px;
}

/* DESKTOP VIEW */
@media( min-width: 600px ) {

  body {
    display: grid;
    grid-gap: 2px 2px;
    grid-template-columns: 225px auto;
    grid-template-rows: auto auto auto;
    margin: 10px
  }

  header {
    width: auto;
    grid-column: span 2;
    grid-row: 1;
  }

  nav {
    width: auto;
    grid-column: 1;
    grid-row: 2;
    height: 60vh;
  }

  main {
    width: auto;
    grid-column: 2;
    grid-row: 2;
    height: 60vh;
    
  }

  footer {
    width: auto;
    grid-column: span 2;
    grid-row: 3;
    height: 8vh;
  }


  /* RESULTS PAGE - DESKTOP */
  #resultPageAircraftData {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
    overflow: scroll;
    height: 95%;
    margin: 10px;
    padding: 10px;
  }

  .aircraftDataTiles {
    border: 1px solid black;
    text-align: center;
    font-family: 'Lalezar', cursive;
    padding: 10px;
  }
  .aircraftDataTiles p {
    font-size: 26px;
  }

  .aircraftTileLabel {
    text-decoration: underline;
    font-size: 14px;
  }

  .aircraftDataTiles:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }  
   /*favPage desktop view*/
   #favPageAircraftData {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
    overflow: scroll;
    height: 95%;
    margin: 10px;
    padding: 10px;
  }

}
