
/* the bottom two attributes get rid of the arrows when the input type is number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

body {
  background: linear-gradient(-45deg, blue, white, yellow);
  background-size: 200% 200%;
  animation: gradientBG 7s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.button {
  background-color: rgb(120, 134, 212);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(120, 134, 212);
}
.button:active {
  background-color: rgb(120, 134, 212);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

header, footer, nav, main {
  background-color: #858585;
  border-radius: 10px;
  padding: 1em;
  opacity: .95;

}

form {
  font-family: 'Audiowide', cursive;
}

h1 {
   font-size: larger;
 }

header {
  background-image: url('../images/image(3).png');
  background-repeat: no-repeat;
  background-size:100% 100%;
}

footer{
  background-image: url('../images/image(4).png');
  background-repeat: no-repeat;
  background-size:100% 100%;
  opacity: .6;
}


#copyright {
  font-family: 'Lexend Exa', sans-serif;
  text-transform: uppercase;
  margin-left: 25%;
  }

/* MOBILE VIEW */

/* NAV BAR */
nav {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 2%;
}

nav div {
  margin: 0 auto;
}

nav h2 {
  margin-bottom: 5%;
  font-size: 16px;
  font-weight: bold;
  text-decoration-line: underline;
}

nav p {
  font-size: 14px;
  padding: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* ABOUT XPNDR PAGE - Mobile */
.aboutTPImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 2%;
}

#learnAboutTPMain {
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

#learnAboutTPMain h2 {
  font-size: 20px;
  text-align: center;
  text-decoration-line: underline;
}

#learnAboutTPMain p, li {
  padding: 5px;
  font-size: 14px;
}

#learnAboutTPMain ul {
  margin-left: 20px;
  list-style-type: circle;
}

.aboutTPImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 2%;
}

/* INDEX PAGE - DESKTOP */
#indexMain { 
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#indexMain h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration-line: underline;
}

#indexMain p {
  font-size: 20px;
  margin: 10px;
}

#regNumber {
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

#regNumber h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration-line: underline;
}

#regNumber p {
  font-size: 20px;
  margin: 10px;
}

#proximity {
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

#proximity h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration-line: underline;
}

#proximity p {
  font-size: 20px;
  margin: 10px;
}

#squawkPage {
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

#squawkPage h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration-line: underline;
}

#squawkPage p {
  font-size: 20px;
  margin: 10px;
}

#squawkPage p, li {
  font-size: 20px;
}

#squawkPage ul {
  margin-left: 20px;
  list-style-type: circle;
}


/* DESKTOP VIEW */
@media( min-width: 600px ) {

  /* NAV BAR */
  nav {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5%;
  }

  nav div {
    margin-bottom: 25%;
  }

  nav h2 {
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
  }

  nav p {
    font-size: 18px;
    padding: 5px;
  }

  nav a {
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a:hover {
    background-color: lightskyblue;
  }
  
  nav a:active {
    background-color: black;
  }  
  /* END NAV BAR */


  /* ABOUT XPNDR PAGE - DESKTOP */
  #learnAboutTPMain {
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
  }

  #learnAboutTPMain h2 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
  }

  #learnAboutTPMain p, li {
    font-size: 20px;
  }

  #learnAboutTPMain ul {
    margin-left: 20px;
    list-style-type: circle;
  }

  .aboutTPImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 2%;
  }

  /* INDEX PAGE - DESKTOP */
  #indexMain { 
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  #indexMain h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration-line: underline;
  }

  #indexMain p {
    font-size: 20px;
    margin: 10px;
  }

  #squawkPage {
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
  }

  #squawkPage h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration-line: underline;
  }

  #squawkPage p {
    font-size: 20px;
    margin: 10px;
  }

  #squawkPage p, li {
    font-size: 20px;
  }

  #squawkPage ul {
    margin-left: 20px;
    list-style-type: circle;
  }

  /* REGISTRATION PAGE - DESKTOP */

  #regNumber {
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
  }

  #regNumber h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration-line: underline;
  }

  #regNumber p {
    font-size: 20px;
    margin: 10px;
  }

  #proximity {
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
  }

  #proximity h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration-line: underline;
  }

  #proximity p {
    font-size: 20px;
    margin: 10px;
  }
  
}

.sleeper{
  display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

#word {
  text-align: center;
}

