
/* the bottom two attributes get rid of the arrows when the input type is number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

body {
  background-color: #3c4245;
}

header, footer, nav, main {
  background-color: darkgrey;
}



/* MOBILE VIEW */

/* NAV BAR */
nav {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 2%;
}

nav div {
  margin: 0 auto;
}

nav h2 {
  margin-bottom: 5%;
  font-size: 16px;
  font-weight: bold;
  text-decoration-line: underline;
}

nav p {
  font-size: 14px;
  padding: 5px;
}

nav a {
  background-color: #3c4245;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* ABOUT XPNDR PAGE - Mobile */
.aboutTPImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 2%;
}


/* DESKTOP VIEW */
@media( min-width: 600px ) {

  /* NAV BAR */
  nav {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5%;
  }

  nav div {
    margin-bottom: 25%;
  }

  nav h2 {
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
  }

  nav p {
    font-size: 18px;
    padding: 5px;
  }

  nav a {
    background-color: #3c4245;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a:hover {
    background-color: lightskyblue;
  }
  
  nav a:active {
    background-color: black;
  }  
  /* END NAV BAR */


  /* ABOUT XPNDR PAGE - DESKTOP */
  .aboutTPImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 2%;
  }
  
}

